
        input {  
            width: 100%;  
            padding: 2px 2x;  
            margin: 50px 50px;  
            box-sizing: border-box;  
            border: 5px 5px solid orange;  
            border-radius: 5px;
            border-style: dotted;
            
        }