.flex-container {
    display: flex;
    flex-direction: column;
    flex-flow: row wrap;
    padding: 0;
    margin: 0;
    list-style: none;
    align-items: center;
  }
  
  .Dev1, .Dev2, .Dev3, .Des1, .Des2, .Des3   {
    padding: 5px;
    color: black;
    font-weight: bold;
    font-size: 1em;
    text-align: center;
  }