.header {
  animation: portfolioMove 10s infinite;
  position: relative;
  text-align: center;
  color: white;
}

.portfolioHeader {
  display: block;
  width:100%;
  opacity: 0.5;
}

@keyframes portfolioMove {
  from {
    background-color: lightsteelblue;
  }
  to {
    background-color: navy;
  }
}

.headerContent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  }