p, blockquote {
  font-size: 20px;
  font-family: "Times New Roman", Times, serif;
}

.zyprofile {
  display: block;
  border-radius: 20%;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
}

.zyName {
  margin: 40px;
  text-align: center;
  font-size: 30px;
}

.pMasterBody {
  text-overflow: ellipsis;
  overflow: hidden;
  word-wrap: normal;
  text-align: justify;
  margin: 20px;
}

.masterBodyCenterCol > p {
  padding: 5px;
}

.quoteOfTheMonth {
  margin: 40px;
  font-size: 30px;
}

.aboutMyselfText {
  margin: 40px;
  text-align: center;
  font-size: 30px;
}
blockquote
{
  margin: 20px;
  padding: 5px;
  font-style: italic;
}

.searchBody
{
  text-overflow: ellipsis;
  overflow: hidden;
  word-wrap: normal;
  text-align: justify;
  margin: 20px;
}