* {
  box-sizing: border-box;
}
.gridContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: auto;
  grid-auto-columns: auto;
  padding: 10px;
  grid-column-gap: 5px;
  grid-row-gap: 5px;
}

.header {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 4;
}

.navHeader {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 4;
  grid-row-end: 5;
}

.masterBodyLeftCol {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 5;
  grid-row-end: 6;
}

.masterBodyCenterCol {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 5;
  grid-row-end: 6;
}

.masterBodyRightCol {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 5;
  grid-row-end: 6;
}

.footer {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 6;
  grid-row-end: 7;
}

@media screen and (max-width: 800px) {

  .masterBodyCenterCol,
  .masterBodyRightCol,
  .masterBodyLeftCol {
    float: none;
    width: 100%;
    position: sticky;
    top: 0;

  }
}
