#zebraTable { 
    text-align:center;
     }

.zebraRow:nth-child(even){background-color: #f2f2f2}


/* Container holding the image and the text */
.container {
position: relative;
text-align: center;
color: white;
}

/* Bottom left text */
.b-left {
position: absolute;
bottom: 8px;
left: 16px;
}

/* Top left text */
.tleft {
position: absolute;
top: 8px;
left: 16px;
}

/* Top right text */
.tright {
position: absolute;
top: 8px;
right: 16px;
}

/* Bottom right text */
.bright {
position: absolute;
bottom: 8px;
right: 16px;
}

/* Centered text */
.center {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
}

a{
color: red;
}
a:visited{
color:green;
}
a:hover {
color: blue;
}
