*{
    box-sizing: border-box;
}

.div1 {
    width: 300px;
    height: 100px;
    border: 1px solid blue;
    background-color: lightblue;
  }
  
  .div2 {
    width: 300px;
    height: 100px;  
    padding: 50px;
    border: 1px solid red;
    background-color: orange;

  }